.thoughts {
  width: 100vw;
  height: 100vh;
}

.pg-title{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 58px;
  padding: 10px;
  left: 97px;
  position: absolute;
}

.pg-title-icon-img {
width: 164px;
height: 164px;
}

.pg-title-name, .pg-title-subtitle {
  font-size: 68px;
  padding: 1%;
}

.blog{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 312px;
  left: 97px;
  right: 97px;
  position: absolute;
  gap: 45px;
}

.blog-content{
  width: 847px;

}

.blog-list{
  width: 331px;
}